fastapi
uvicorn[standard]
opencv-python
numpy
pillow
insightface
onnxruntime
uniface[cpu]
sqlalchemy
pymysql
python-multipart
python-dotenv
aiofiles
websockets
requests
pydantic
httpx
mistralai
pyttsx3
supabase
psycopg2-binary
